---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Title from '../../components/Title.astro';
---
<BaseLayout title="Hírek" newsActive="true">
  <Title title="2023 őszi félév"></Title>
<span>2023-07-05</span><br>
<div class="row">
<img src="/news/cat_day.png" class="img-responsive" style="max-width: 900px">
</div>
</BaseLayout>