---
import BaseLayout from '../layouts/BaseLayout.astro';

const response = await fetch('https://macsek.se/news.json');
const news = await response.json();


interface Item {
  title: string;
  date: string;
  content: string;
}
---
<BaseLayout>
<div class="newsClass">
<div style="height:35px"></div>
{
news.map((item: Item) => (
<img class="img-responsive" style="padding-left:10px;" src="news_divider4.png"></img>
<div class="blueBar">
<h2 style="margin-top:0px!important">{item.title}</h2>
</div>
<span>{item.date}</span>
<p class="newsClass"set:html={item.content}/>
))}
</div>
</BaseLayout>