---
import BaseLayout from '../layouts/BaseLayout.astro';
import fs from "node:fs/promises";
const url = new URL("../data/news.json", import.meta.url);
const json = await fs.readFile(url, "utf-8");
const news = JSON.parse(json);

interface Item {
  title: string;
  date: string;
  content: string;
}
---
<BaseLayout>
<ul>
            {
              news.map((item: Item) => (
                <li>
                  <h2>{item.title}</h2>
                  <p>{item.date}</p>
                  <p set:html={item.content}>
                </li>
              ))
            }
          </ul>
</BaseLayout>