---
//TODO: Make bold font in the navigation bar

const { newsActive } = Astro.props
const { aboutActive } = Astro.props
const { programActive } = Astro.props
const { teachersActive } = Astro.props
const { galleryActive } = Astro.props
const { contactActive } = Astro.props
---
<nav class="navbar navbar-expand-lg  fs-5" data-bs-theme="dark" style="background-color: #fc792b">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
{ newsActive ? 
        <a class="nav-link active" href="/">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>
          Hírek</span></a>
:       <a class="nav-link" href="/">Hírek</span></a> }
      </li>
      <li class="nav-item">
{ aboutActive ?
        <a class="nav-link active" href="/about">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>          
          Rólunk</a>
:       <a class="nav-link" href="/about">Rólunk</a> }
      </li> 
      <li class="nav-item dropdown">
{ programActive ?
        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>
          Foglalkozások
        </a>
:        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Foglalkozások
        </a> }
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #ff692b">
          <a class="dropdown-item" href="/ringato">Ringató baba-mama/papa foglalkozás</a>
          <a class="dropdown-item" href="/zeneovi_program">MACSEK Zeneovi</a>
          <a class="dropdown-item" href="/suli_program">MACSEK Suli</a>
          <a class="dropdown-item" href="/dance">Néptánc</a>
        </div>
      </li>
      <li class="nav-item">
{ teachersActive ?     
        <a class="nav-link active" href="/teachers">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg> 
          Foglalkozásvezetők</a>
:       <a class="nav-link" href="/teachers">Foglalkozásvezetők</a> }
      </li>
      <li class="nav-item">
{ galleryActive ?        
        <a class="nav-link active" href="/gallery">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>
          Galéria</a>
:        <a class="nav-link" href="/gallery">Galéria</a> }
      </li>
      <li class="nav-item">
{ contactActive ?       
        <a class="nav-link active" href="/contact">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg> 
          Kapcsolat</a>
:        <a class="nav-link" href="/contact">Kapcsolat</a> }
      </li>
    </ul>
  </div>
</nav>