<nav class="navbar navbar-light" style="font-size:20px;">
    <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#menuBar"
    >
        <span
            class="glyphicon glyphicon-menu-hamburger"
            style="color:white;font-size:5vw;"></span>
        <!--color:#fc792b-->
    </button>
    <div class="collapse navbar-collapse" id="menuBar">
        <ul class="nav navbar-nav navColor">
            <li><a href="about">Rólunk</a></li>
            <li><a href="/">Hírek</a></li>
            <li><a href="program">Foglalkozások</a></li>
            <li><a href="gallery">Galéria</a></li>
            <li><a href="contact">Kapcsolat</a></li>
        </ul>
    </div>
</nav>
