---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const date = new Date();
let day = date.getDate();
let month = date.getMonth() + 1;
let year = date.getFullYear();
const lastModified = year + "-" + month + "-" + day;
---
<html lang="en">
  <head>
    <title>MACSEK</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"/>
    <script is:inline src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron headerClass hidden-xs hidden-sm">
        <img
          class="img-responsive"
          style="display:inline-block;height:200px;margin-top:40px;padding-left:5vw;vertical-align: top;"
          src="/logo1.png"
        /><img />
        <h1 class="headerH1">Magyar<br/>Csemeték<br/>Közössége</h1>
        <img
          class="img-responsive"
          style="display:inline-block;height:210px;padding-left:10px;margin-top:90px;vertical-align:top;"
          src="/macsek7.png"
        /><img />
        <img
          style="display:inline-block;margin-left:50px;margin-top:30px;vertical-align:top;"
          src="/motto2.png"
        /><img />
      </div>

      <div class="jumbotron headerMobile visible-xs visible-sm">
        <img
          class="img-responsive"
          style="display:inline-block;height:100px;margin-top:20px;vertical-align: top;"
          src="/logo1.png"
        /><img />
        <h1 class="headerH1Mobile">Magyar<br />Csemeték<br />Közössége</h1>
      </div>
      <Navigation />
      <div class="commonClass">
        <slot />
      </div>
      <div class="jumbotron footerClass">
        Utoljára frissítve: {lastModified}
      </div>
    </div>
  </body>
</html>
